<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="use_sim_time" value ="true"/>
    <arg name="gui" value="true"/>
    <arg name="world_name" value="$(find metal_detector_bot)/world/inside_a_room_in_gazebo.world"/>
  </include>
  <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" /> -->
  <!-- <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find metal_detector_bot)/urdf/metal_detector_bot.urdf -urdf -model metal_detector_bot"
    output="screen" /> -->

  <param name="robot_description" command="cat '$(find metal_detector_bot)/urdf/metal_detector_bot.urdf'" />
    
    <arg name="x" default="-3"/>
    <arg name="y" default="3"/>
    <arg name="z" default="0.1"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model metal_detector_bot -x $(arg x) -y $(arg y) -z $(arg z)" />




  <!-- <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /> -->

   <rosparam file="$(find metal_detector_bot)/config/joint_names_metal_detector_bot_urdf.yaml" command="load" />

   <node name="metal_bot_controller_manager" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" args="mobile_base_controller" />
    <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
 

</launch>